<div class="text-center mt-5 mb-4">
<h1 >The Gossip Project</h1>
<h3>Bienvenue au royaume des potins</h3>
<hr>
</div>

<div class="text-center my-5">
	<h1 class="mt-5">Se connecterrr</h1>
	<%= render 'form' %>
</div>